@tailwind base;
@tailwind components;
@tailwind utilities;



/* For dark mode */
html.dark {
    background-color: #282828; /* dark background */
    color: #fff; /* white text */
  }
  
  /* For light mode */
  html:not(.dark) {
    background-color: #fff; /* light background */
    color: #000; /* black text */
  }
  
*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @apply transition-colors duration-100;

}
/* body{
    background: #323330;
} */
.scaleLarge {
    &:hover{
    /* transform: scale(1.009) translateY(1px) translate(1px) !important;  */
    transform: translateY(-6px)  !important; 
    transition: transform 0.3s ease-in-out !important;
    }
}
.scaleSmall {
    &:hover{
    transform: scale(0.99) translateY(2px) translate(2px) !important; 
    transition: transform 0.3s ease-in-out !important;
    }
}
/* .sidebarBoxShadow{
    box-shadow: 10px 10px 200px 200px  linear-gradient(90deg,rgba(0,0,0),rgba(186, 184, 177, 0.5))  ;
} */

